<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <h2 class="h2-heading">Expense Tracker..</h2>
    <% include partials/footer %>
  </body>
</html>
